<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
<div class="w3-content" style="max-width:1400px">
    <div class="w3-row" *ngIf="articles">

        <div class="w3-col l4">
            <div class="w3-card w3-margin w3-margin-top">
                <div style="text-align:center;">
                    <label>Recherche</label>
                    <input type="text" [(ngModel)]="term">
                </div>
                <br />
                <div *ngIf="term">
                    <div *ngFor="let article of articles | filter:term">
                        <div class="w3-container">
                            <a href="{{ article.link }}" target="_blank">
                                <h5>
                                    {{ article.title }}<br />
                                    <span class="w3-opacity">
                                        {{ article.media_name }} . {{ article.published }}
                                    </span>
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>

                <hr>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <a href="{{ articles[32].link }}">
                            <img src="{{ articles[32].image_url }}" />
                            <span class="w3-large">
                                {{ articles[32].title }}<br />
                                <span class="w3-opacity">
                                    {{ articles[32].media_name }} . {{ articles[32].published }}
                                </span>
                            </span><br>
                        </a>
                    </li>
                    <li class="w3-padding-16">
                        <a href="{{ articles[33].link }}">
                            <img src="{{ articles[33].image_url }}" />
                            <span class="w3-large">
                                {{ articles[33].title }}<br />
                                <span class="w3-opacity">
                                    {{ articles[33].media_name }} . {{ articles[33].published }}
                                </span>
                            </span><br>
                        </a>
                    </li>
                    <li class="w3-padding-16">
                        <a href="{{ articles[34].link }}">
                            <img src="{{ articles[34].image_url }}" />
                            <span class="w3-large">
                                {{ articles[34].title }}<br />
                                <span class="w3-opacity">
                                    {{ articles[34].media_name }} . {{ articles[34].published }}
                                </span>
                            </span><br>
                        </a>
                    </li>
                    <li class="w3-padding-16">
                        <a href="{{ articles[35].link }}">
                            <img src="{{ articles[25].image_url }}" />
                            <span class="w3-large">
                                {{ articles[35].title }}<br />
                                <span class="w3-opacity">
                                    {{ articles[35].media_name }} . {{ articles[35].published }}
                                </span>
                            </span><br>
                        </a>
                    </li>
                    <li class="w3-padding-16">
                        <a href="{{ articles[36].link }}">
                            <img src="{{ articles[36].image_url }}" />
                            <span class="w3-large">
                                {{ articles[36].title }}<br />
                                <span class="w3-opacity">
                                    {{ articles[36].media_name }} . {{ articles[36].published }}
                                </span>
                            </span><br>
                        </a>
                    </li>
                    <li class="w3-padding-16">
                        <a href="{{ articles[37].link }}">
                            <img src="{{ articles[37].image_url }}" />
                            <span class="w3-large">
                                {{ articles[37].title }}<br />
                                <span class="w3-opacity">
                                    {{ articles[37].media_name }} . {{ articles[37].published }}
                                </span>
                            </span><br>
                        </a>
                    </li>
                    <li class="w3-padding-16">
                        <a href="{{ articles[38].link }}">
                            <img src="{{ articles[38].image_url }}" />
                            <span class="w3-large">
                                {{ articles[38].title }}<br />
                                <span class="w3-opacity">
                                    {{ articles[38].media_name }} . {{ articles[38].published }}
                                </span>
                            </span><br>
                        </a>
                    </li>
                    <li class="w3-padding-16">
                        <a href="{{ articles[39].link }}">
                            <img src="{{ articles[39].image_url }}" />
                            <span class="w3-large">
                                {{ articles[39].title }}<br />
                                <span class="w3-opacity">
                                    {{ articles[39].media_name }} . {{ articles[39].published }}
                                </span>
                            </span><br>
                        </a>
                    </li>
                    <li class="w3-padding-16">
                        <a href="{{ articles[40].link }}">
                            <img src="{{ articles[40].image_url }}" />
                            <span class="w3-large">
                                {{ articles[40].title }}<br />
                                <span class="w3-opacity">
                                    {{ articles[40].media_name }} . {{ articles[40].published }}
                                </span>
                            </span><br>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>

        <div class="w3-col l8 s12">
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-card">
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <div class="w3-col m6 s12">
                                <section class="section-white">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                        </ol>
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner my-carousel-inner">
                                            <div class="item active my-carousel-item">
                                                <div class="w3-container">
                                                    <img src="{{ articles[0].image_url }}" />
                                                </div>
                                                <div class="carousel-caption">
                                                    <h4>
                                                        {{  articles[0].title }}<br />
                                                    </h4>
                                                    <span class="w3-opacity">
                                                        {{ articles[0].media_name }} . {{  articles[0].published }}
                                                    </span>
                                                    <a class="w3-button" href="{{ articles[0].link}}" target="_blank">Lire....</a>
                                                </div>
                                            </div>
                                            <div class="item my-carousel-item">
                                                <div class="w3-container">
                                                    <img src="{{ articles[1].image_url }}" />
                                                </div>
                                                <div class="carousel-caption">
                                                    <h4>
                                                        {{  articles[1].title }}<br />
                                                    </h4>
                                                    <span class="w3-opacity">
                                                        {{ articles[1].media_name }} . {{  articles[1].published }}
                                                    </span>
                                                    <a class="w3-button" href="{{ articles[1].link}}" target="_blank">Lire....</a>
                                                </div>
                                            </div>
                                            <div class="item my-carousel-item">
                                                <div class="w3-container">
                                                    <img src="{{ articles[2].image_url }}" />
                                                </div>
                                                <div class="carousel-caption">
                                                    <h4>
                                                        {{  articles[2].title }}<br />
                                                    </h4>
                                                    <span class="w3-opacity">
                                                        {{ articles[2].media_name }} . {{  articles[2].published }}
                                                    </span>
                                                    <a class="w3-button" href="{{ articles[2].link}}" target="_blank">Lire....</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </section>
                            </div>

                            <div class="w3-col m6 s12">
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <img src="{{ articles[3].image_url }}" />
                                        <h5>
                                            {{ articles[3].title }}<br />
                                            <span class="w3-opacity">
                                                {{ articles[3].media_name }} . {{ articles[3].published }}
                                            </span>
                                        </h5>
                                        <div class="w3-row">
                                            <div class="w3-col m8 s12">
                                                <p><a href="{{ articles[3].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <img src="{{ articles[4].image_url }}" />
                                        <h5>
                                            {{ articles[4].title }}<br />
                                            <span class="w3-opacity">
                                                {{ articles[4].media_name }} . {{ articles[4].published }}
                                            </span>
                                        </h5>
                                        <div class="w3-row">
                                            <div class="w3-col m8 s12">
                                                <p><a href="{{ articles[4].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-card">
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <div class="w3-col m6 s12">
                                <div class="w3-container">
                                    <img src="{{ articles[6].image_url }}" />
                                    <h5>
                                        {{ articles[6].title }}<br />
                                        <span class="w3-opacity">
                                            {{ articles[6].media_name }} . {{ articles[6].published }}
                                        </span>
                                    </h5>
                                    {{ articles[6].description }}
                                    <div class="w3-row">
                                        <div class="w3-col m8 s12">
                                            <p><a href="{{ articles[6].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col m6 s12">
                                <div class="w3-container">
                                    <img src="{{ articles[7].image_url }}" />
                                    <h5>
                                        {{ articles[7].title }}<br />
                                        <span class="w3-opacity">
                                            {{ articles[7].media_name }} . {{ articles[7].published }}
                                        </span>
                                    </h5>
                                    {{ articles[7].description }}
                                    <div class="w3-row">
                                        <div class="w3-col m8 s12">
                                            <p><a href="{{ articles[7].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-card">
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <div class="w3-col m6 s12">
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <div class="w3-container">
                                            <img src="{{ articles[8].image_url }}" />
                                            <h5>
                                                {{ articles[8].title }}<br />
                                                <span class="w3-opacity">
                                                    {{ articles[8].media_name }} . {{ articles[8].published }}
                                                </span>
                                            </h5>
                                            <div class="w3-row">
                                                <div class="w3-col m8 s12">
                                                    <p><a href="{{ articles[8].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <div class="w3-container">
                                            <img src="{{ articles[9].image_url }}" />
                                            <h5>
                                                {{ articles[9].title }}<br />
                                                <span class="w3-opacity">
                                                    {{ articles[9].media_name }} . {{ articles[9].published }}
                                                </span>
                                            </h5>
                                            <div class="w3-row">
                                                <div class="w3-col m8 s12">
                                                    <p><a href="{{ articles[9].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col m6 s12">
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <div class="w3-container">
                                            <img src="{{ articles[11].image_url }}" />
                                            <h5>
                                                {{ articles[11].title }}<br />
                                                <span class="w3-opacity">
                                                    {{ articles[11].media_name }} . {{ articles[11].published }}
                                                </span>
                                            </h5>
                                            <div class="w3-row">
                                                <div class="w3-col m8 s12">
                                                    <p><a href="{{ articles[11].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <div class="w3-container">
                                            <img src="{{ articles[12].image_url }}" />
                                            <h5>
                                                {{ articles[12].title }}<br />
                                                <span class="w3-opacity">
                                                    {{ articles[11].media_name }} . {{ articles[12].published }}
                                                </span>
                                            </h5>
                                            <div class="w3-row">
                                                <div class="w3-col m8 s12">
                                                    <p><a href="{{ articles[12].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-card">
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <div class="w3-col m6 s12">
                                <div class="w3-container">
                                    <div class="w3-container">
                                        <img src="{{ articles[14].image_url }}" />
                                        <h5>
                                            {{ articles[14].title }}<br />
                                            <span class="w3-opacity">
                                                {{ articles[14].media_name }} . {{ articles[14].published }}
                                            </span>
                                        </h5>
                                        <div class="w3-row">
                                            <div class="w3-col m8 s12">
                                                <p><a href="{{ articles[14].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col m6 s12">
                                <div class="w3-container">
                                    <div class="w3-container">
                                        <img src="{{ articles[15].image_url }}" />
                                        <h5>
                                            {{ articles[15].title }}<br />
                                            <span class="w3-opacity">
                                                {{ articles[15].media_name }} . {{ articles[15].published }}
                                            </span>
                                        </h5>
                                        <div class="w3-row">
                                            <div class="w3-col m8 s12">
                                                <p><a href="{{ articles[15].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-card">
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <div class="w3-col m6 s12">
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <div class="w3-container">
                                            <img src="{{ articles[16].image_url }}" />
                                            <h5>
                                                {{ articles[16].title }}<br />
                                                <span class="w3-opacity">
                                                    {{ articles[16].media_name }} . {{ articles[16].published }}
                                                </span>
                                            </h5>
                                            <div class="w3-row">
                                                <div class="w3-col m8 s12">
                                                    <p><a href="{{ articles[16].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <img src="{{ articles[17].image_url }}" />
                                        <h5>
                                            {{ articles[17].title }}<br />
                                            <span class="w3-opacity">
                                                {{ articles[17].media_name }} . {{ articles[17].published }}
                                            </span>
                                        </h5>
                                        <div class="w3-row">
                                            <div class="w3-col m8 s12">
                                                <p><a href="{{ articles[17].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col m6 s12">
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <img src="{{ articles[19].image_url }}" />
                                        <h5>
                                            {{ articles[19].title }}<br />
                                            <span class="w3-opacity">
                                                {{ articles[19].media_name }} . {{ articles[19].published }}
                                            </span>
                                        </h5>
                                        <div class="w3-row">
                                            <div class="w3-col m8 s12">
                                                <p><a href="{{ articles[19].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <img src="{{ articles[20].image_url }}" />
                                        <h5>
                                            {{ articles[20].title }}<br />
                                            <span class="w3-opacity">
                                                {{ articles[20].media_name }} . {{ articles[20].published }}
                                            </span>
                                        </h5>
                                        <div class="w3-row">
                                            <div class="w3-col m8 s12">
                                                <p><a href="{{ articles[20].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-card">
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <div class="w3-col m6 s12">
                                <div class="w3-container">
                                    <img src="{{ articles[22].image_url }}" />
                                    <h5>
                                        {{ articles[22].title }}<br />
                                        <span class="w3-opacity">
                                            {{ articles[22].media_name }} . {{ articles[22].published }}
                                        </span>
                                    </h5>
                                    {{ articles[22].description }}
                                    <div class="w3-row">
                                        <div class="w3-col m8 s12">
                                            <p><a href="{{ articles[22].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col m6 s12">
                                <div class="w3-container">
                                    <img src="{{ articles[23].image_url }}" />
                                    <h5>
                                        {{ articles[23].title }}<br />
                                        <span class="w3-opacity">
                                            {{ articles[23].media_name }} . {{ articles[23].published }}
                                        </span>
                                    </h5>
                                    {{ articles[23].description }}
                                    <div class="w3-row">
                                        <div class="w3-col m8 s12">
                                            <p><a href="{{ articles[23].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-card">
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <div class="w3-col m6 s12">
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <div class="w3-container">
                                            <img src="{{ articles[24].image_url }}" />
                                            <h5>
                                                {{ articles[24].title }}<br />
                                                <span class="w3-opacity">
                                                    {{ articles[24].media_name }} . {{ articles[24].published }}
                                                </span>
                                            </h5>
                                            <div class="w3-row">
                                                <div class="w3-col m8 s12">
                                                    <p><a href="{{ articles[24].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <img src="{{ articles[25].image_url }}" />
                                        <h5>
                                            {{ articles[25].title }}<br />
                                            <span class="w3-opacity">
                                                {{ articles[25].media_name }} . {{ articles[25].published }}
                                            </span>
                                        </h5>
                                        <div class="w3-row">
                                            <div class="w3-col m8 s12">
                                                <p><a href="{{ articles[25].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col m6 s12">
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <img src="{{ articles[27].image_url }}" />
                                        <h5>
                                            {{ articles[27].title }}<br />
                                            <span class="w3-opacity">
                                                {{ articles[27].media_name }} . {{ articles[27].published }}
                                            </span>
                                        </h5>
                                        <div class="w3-row">
                                            <div class="w3-col m8 s12">
                                                <p><a href="{{ articles[27].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col m6 s12">
                                    <div class="w3-container">
                                        <img src="{{ articles[28].image_url }}" />
                                        <h5>
                                            {{ articles[28].title }}<br />
                                            <span class="w3-opacity">
                                                {{ articles[28].media_name }} . {{ articles[28].published }}
                                            </span>
                                        </h5>
                                        <div class="w3-row">
                                            <div class="w3-col m8 s12">
                                                <p><a href="{{ articles[28].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-card">
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <div class="w3-col m6 s12">
                                <div class="w3-container">
                                    <img src="{{ articles[30].image_url }}" />
                                    <h5>
                                        {{ articles[30].title }}<br />
                                        <span class="w3-opacity">
                                            {{ articles[30].media_name }} . {{ articles[30].published }}
                                        </span>
                                    </h5>
                                    {{ articles[30].description }}
                                    <div class="w3-row">
                                        <div class="w3-col m8 s12">
                                            <p><a href="{{ articles[30].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col m6 s12">
                                <div class="w3-container">
                                    <img src="{{ articles[31].image_url }}" />
                                    <h5>
                                        {{ articles[31].title }}<br />
                                        <span class="w3-opacity">
                                            {{ articles[31].media_name }} . {{ articles[31].published }}
                                        </span>
                                    </h5>
                                    {{ articles[31].description }}
                                    <div class="w3-row">
                                        <div class="w3-col m8 s12">
                                            <p><a href="{{ articles[31].link }}" class="w3-button w3-padding-large w3-white w3-border" target="_blank">Lire....</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
